<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Avatar: The Last Airbender</title>
</head>
<body>
<div id="app">
  <p v-if="characterList.length === 0">There are no characters</p>
  <ul v-else-if="characterList.length % 2 === 0">
    <li v-for="character in characterList">
      <p>{{ character.name }}</p>
      <button @click="favoriteCharacter(character)">⭐ Favorite</button>
    </li>
  </ul>
  <h2>Favorite Characters</h2>
  <ul v-if="favoriteList.length > 0">
    <li v-for="character in favoriteList">{{ character }}</li>
  </ul>
  <p v-else>No favorite characters yet!</p>
  <h2>New Character</h2>
  <pre>{{ newCharacter }}</pre>
  <label for="character-name">Name</label>
  <input
          type="text"
          v-model="newCharacter.name"
          @keyup.enter="addNewCharacter"
  />
  <p>
        <span v-for="(character, index) in characterList"
        >{{ character.name }}{{ index === characterList.length - 1 ? '' : ', '
          }}
        </span>
  </p>
  <p v-else>There are odd characters!</p>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  Vue.createApp({
    data: () => ({
      newCharacter: {
        name: ''
      },
      characterList: [
        {
          name: 'Aang'
        },
        {
          name: 'Zuko'
        },
        {
          name: 'Toph'
        },
        {
          name: 'Katara'
        }
      ],
      favoriteList: []
    }),
    methods: {
      addNewCharacter() {
        this.characterList.push(this.newCharacter)
        this.newCharacter = { name: '' }
      },
      favoriteCharacter(character) {
        this.favoriteList.push(character)
      }
    }
  }).mount('#app')
</script>
</body>
</html>